<!-- <app-navigation [data]="data"></app-navigation> -->
<mat-toolbar class="navbar">
  <div>Resume Builder</div>
</mat-toolbar>
<div class="container" >
    <div >

        <div class="cardshadow">
            
            <div class="card shadow" style="width: 23rem;">
                <div class="inner">
                         <img class="card-img-top" src="/assets/image/users.png" alt="Card image cap">
               
                        </div>
                <div class="card-body text-center">
                  <h5 class="card-title"><h2>WELCOME TO RESUME BUILDER!!!</h2></h5>
                  <span> <button mat-stroked-button (click)="openDialog()">Register</button></span>&nbsp;
                  <span> <button mat-stroked-button (click)="onLogin()">Login</button></span>
                </div>
              </div>
            
        </div>
    </div>
</div>
