<mat-card class="mat-card">
    <mat-card-title class="mat">Register</mat-card-title>
    <form [formGroup]="profileForm" (ngSubmit)="saveTutorial()" >
        <label>
          First Name:
          <input type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f?.firstName?.errors }" >
          <div *ngIf="submitted && f?.firstName?.errors" >
            <div *ngIf="f?.firstName?.errors?.required">First Name is required</div>
        </div>
        </label><br>
      
        <label>
          Last Name:
          <input type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f?.lastName?.errors }">
          <div *ngIf="submitted && f?.lastName?.errors" >
            <div *ngIf="f?.lastName?.errors?.required">Last Name is required</div>
          </div>
        </label><br>
        <label>
          Role:
          <input type="text" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f?.role?.errors }">
          <div *ngIf="submitted && f?.role?.errors" >
            <div *ngIf="f?.role?.errors?.required">Last Name is required</div>
          </div>
        </label><br>
        <label>
          Email:
          <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f?.email?.errors }">
          <div *ngIf="submitted && f?.email?.errors" class="invalid-feedback">
            <div *ngIf="f?.email?.errors?.required">Email is required</div>
            <div *ngIf="f?.email?.errors?.email">Email must be a valid email address</div>
        </div>
        </label><br>
      
        <label>
          Password:
          <input type="text" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f?.password?.errors }" >
          <div *ngIf="submitted && f?.password?.errors" class="invalid-feedback">
            <div *ngIf="f?.password?.errors?.required">Password is required</div>
            <div *ngIf="f?.password?.errors?.minlength">Password must be at least 6 characters</div>
        </div>
    
        </label><br>
          
        <label>
          Confirm password:
          <input type="text" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f?.confirmPassword?.errors }">
          <div *ngIf="submitted && f?.confirmPassword?.errors" class="invalid-feedback">
            <div *ngIf="f?.confirmPassword?.errors?.required">Confirm Password is required</div>
            <div *ngIf="f?.confirmPassword?.errors?.mustMatch">Passwords must match</div>
        </div>
        </label><br>
          
        <button mat-stroked-button type="submit">Submit</button>
        <button mat-stroked-button type="reset" (click)="onReset()">Cancel</button>
        <button mat-stroked-button [mat-dialog-close]>Close</button>
            
        
        
      </form>
    
      <div class="success" *ngIf="showSucessMessage">
        Saved successfully
      </div>
      
      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>
    
    </mat-card>
