<p align="right"> <button class="cancel" (click)="onCancel()"><span class="material-icons">
  highlight_off
  </span></button></p>
  <h3><b>VIEW ONLY</b></h3>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Personal Info">
      <div class="main-div">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">FirstName</th>
            <td>{{data.firstname}}</td>
          </tr>
        
          <tr>
            <th scope="row">LastName</th>
            <td>{{data.lastname}}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{data.email}}</td>
          </tr>
          <tr>
            <th scope="row">Mobile</th>
            <td>{{data.mobile}}</td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>{{data.gender}}</td>
          </tr>
        </tbody>
      </table>
    </div></mat-tab>


    <mat-tab label="Education"> 
    <mat-tab-group class="edu" mat-align-tabs="center">
        <mat-tab label="SSC Details">
          <div class="main-div">
      <table class="table table-striped table-hover">
        <tbody>
        <tr>
          <th scope="row">SSC school Name</th>
          <td>{{data.sslcname}}</td>
        </tr>
        <tr>
          <th scope="row">SSC school year</th>
          <td>{{data.sslcyear}}</td>
        </tr>
        <tr>
          <th scope="row">SSC Percentage/CGPA</th>
          <td>{{data.sslcper}}</td>
        </tr>
        </tbody></table> </div></mat-tab>

        <mat-tab label="HSC Details">
          <div class="main-div">
        <table class="table table-striped">
          <tbody>
        <tr>
          <th scope="row">HSC school Name</th>
          <td>{{data.hscname}}</td>
        </tr>
        <tr>
          <th scope="row">HSC school year</th>
          <td>{{data.hscyear}}</td>
        </tr>
        <tr>
          <th scope="row">HSC Percentage/CGPA</th>
          <td>{{data.hscper}}</td>
        </tr></tbody></table></div></mat-tab>

        <mat-tab label="College Details">
          <div class="main-div">
        <table class="table table-striped">
          <tbody>
        <tr>
          <th scope="row">College Name</th>
          <td>{{data.colname}}</td>
        </tr>
        <tr>
          <th scope="row">Degree/ Branch</th>
          <td>{{data.coldeg}}</td>
        </tr>
        <tr>
          <th scope="row">Graduation year</th>
          <td>{{data.colyear}}</td>
        </tr>
        <tr>
          <th scope="row">CGPA</th>
          <td>{{data.colper}}</td>
        </tr>
        </tbody>
      </table> </div></mat-tab></mat-tab-group></mat-tab>
    <mat-tab label="Experience"> 
      <div class="main-div">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th scope="row">Company Name:</th>
          <td>{{data.company}}</td>
        </tr>
        <tr>
          <th scope="row">Start Date:</th>
          <td>{{data.start}}</td>
        </tr>
        <tr>
          <th scope="row">End date:</th>
          <td>{{data.end}}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{data.desc}}</td>
        </tr>
      </tbody>
      </table> </div>
    </mat-tab>
    <mat-tab label="Skills"> 
      <div class="main-div">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th scope="row">Skills</th>
          <td>{{data.skill}}</td>
        </tr>
        </tbody></table></div></mat-tab>
  </mat-tab-group>
