<p align="right"> <button class="cancel" (click)="Submitvalue()"><span class="material-icons">
    highlight_off
    </span></button></p>
  <mat-card >
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="personalFormGroup" >
          
          <form [formGroup]="personalFormGroup">
            <ng-template matStepLabel>Personal Details</ng-template>
  
            <mat-label><b>First Name </b> <b class="red">*</b></mat-label>
            <mat-form-field class="data" appearance="fill">
              <input  matInput placeholder="First name" formControlName="firstname" [(ngModel)]="data.firstName" >
              
            </mat-form-field>
  
  
  
            <mat-label><b>Last Name </b><b class="red">*</b></mat-label><br>
            <mat-form-field class="data" appearance="fill">
                
                <input matInput placeholder="Last name" formControlName="lastname" [(ngModel)]="data.lastName" >
               
            </mat-form-field >
  
  
  
              <mat-label><b>Email </b><b class="red">*</b></mat-label><br>
              <mat-form-field class="data" appearance="fill">
                  
                  <input matInput placeholder="Email id" formControlName="email" [(ngModel)]="data.email">
                </mat-form-field><br>
  
  
                
  
                <mat-label><b>Gender </b><b class="red">*</b></mat-label> &nbsp;
                <mat-radio-group *ngIf="personalvalue" aria-label="Select an option" formControlName="gender" [(ngModel)]="personalvalue.gender">
                    <mat-radio-button value="male">Male</mat-radio-button>&nbsp;
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group><br><br>
                <mat-radio-group *ngIf="!personalvalue" aria-label="Select an option" formControlName="gender">
                  <mat-radio-button value="male">Male</mat-radio-button>&nbsp;
                  <mat-radio-button value="female">Female</mat-radio-button>
              </mat-radio-group><br><br>
  
  
  
  
                  <mat-label><b>Mobile Number </b><b class="red">*</b></mat-label><br>
                  <mat-form-field class="data" appearance="fill"> 
                      <span matPrefix>+91 &nbsp;</span>
                      <input *ngIf="personalvalue" type="text" matInput placeholder="mobile" formControlName="mobile" [(ngModel)]="personalvalue.mobile" >
                      <input *ngIf="!personalvalue" type="text" matInput placeholder="mobile" formControlName="mobile"  >
                    </mat-form-field><br>
            
            
            <div class="card-body text-center">
              <button mat-stroked-button  matStepperNext class="btn btn-secondary btn-lg" (click)="SubmitPersonal()">Save & Next</button>
            </div>
          </form>
         
        </mat-step>
  
  
        <mat-step [stepControl]="educationFormGroup" label="Education Details">
          <form [formGroup]="educationFormGroup">
  
              <mat-label><b>Enter your SSC/ 10th details</b></mat-label><br>
              <mat-form-field class="data" appearance="fill">
                <mat-label>Name of the School</mat-label>
                <input *ngIf="educationvalue" matInput formControlName="sslcSchoolName" [(ngModel)]="educationvalue.sslcSchoolName">
                <input *ngIf="!educationvalue" matInput formControlName="sslcSchoolName">
              </mat-form-field>
  
              <mat-form-field class="data" appearance="fill">
                <mat-label>Year of Completion <b class="red">*</b></mat-label>
                <mat-select  *ngIf="educationvalue"  formControlName="sslcYear" [(ngModel)]="educationvalue.sslcYear">
                  <mat-option *ngFor="let p of allyears" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
                <mat-select  *ngIf="!educationvalue"  formControlName="sslcYear" >
                  <mat-option *ngFor="let p of allyears" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
  
              <mat-form-field class="data" appearance="fill">
                <mat-label>Percentage / CGPA <b class="red">*</b></mat-label>
                <input  *ngIf="educationvalue"  matInput formControlName="sslcMark" [(ngModel)]="educationvalue.sslcMark">
                <input *ngIf="!educationvalue"  matInput formControlName="sslcMark">
              </mat-form-field>
  
              <mat-label><b>Enter your HSC/ 12th details</b></mat-label><br>
              <mat-form-field class="data" appearance="fill">
                <mat-label>Name of the School</mat-label>
                <input  *ngIf="educationvalue" matInput formControlName="hscSchoolName" [(ngModel)]="educationvalue.hscSchoolName">
                <input  *ngIf="!educationvalue" matInput formControlName="hscSchoolName">
              </mat-form-field>
  
              <mat-form-field class="data" appearance="fill">
                <mat-label>Year of Completion <b class="red">*</b></mat-label>
                <mat-select  *ngIf="educationvalue"  formControlName="hscYear" [(ngModel)]="educationvalue.hscYear">
                  <mat-option *ngFor="let p of allyears" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
                <mat-select  *ngIf="!educationvalue"  formControlName="hscYear" >
                  <mat-option *ngFor="let p of allyears" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              
  
              <mat-form-field class="data" appearance="fill">
                <mat-label>Percentage / CGPA <b class="red">*</b></mat-label>
                <input *ngIf="educationvalue" matInput formControlName="hscMark" [(ngModel)]="educationvalue.hscMark">
                <input *ngIf="!educationvalue" matInput formControlName="hscMark">
              </mat-form-field>
  
              <mat-label><b>Enter your Graduation details</b></mat-label><br>
              <mat-form-field class="data" appearance="fill">
                <mat-label>Name of the College/University</mat-label>
                <input *ngIf="educationvalue" matInput formControlName="collegeName" [(ngModel)]="educationvalue.collegeName">
                <input *ngIf="!educationvalue" matInput formControlName="collegeName">
              </mat-form-field>
  
              
              
              <mat-form-field class="data" appearance="fill">
                <mat-label>Degree/Branch </mat-label>
                <mat-select  *ngIf="educationvalue"  formControlName="collegeDegree" [(ngModel)]="educationvalue.collegeDegree" >
                  <mat-option *ngFor="let p of degree" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
                <mat-select  *ngIf="!educationvalue"  formControlName="collegeDegree">
                  <mat-option *ngFor="let p of degree" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
               
                
              </mat-form-field>
  
              
  
  
              <mat-form-field class="data" appearance="fill">
                <mat-label>Year of Completion <b class="red">*</b></mat-label>
                <mat-select  *ngIf="educationvalue"  formControlName="collegeYear" [(ngModel)]="educationvalue.collegeYear">
                  <mat-option *ngFor="let p of allyears" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
                <mat-select  *ngIf="!educationvalue"  formControlName="collegeYear" >
                  <mat-option *ngFor="let p of allyears" [value]="p.name">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              
  
              <mat-form-field class="data" appearance="fill">
                <mat-label>Percentage / CGPA <b class="red">*</b></mat-label>
                <input *ngIf="educationvalue" matInput formControlName="collegeMark" [(ngModel)]="educationvalue.collegeMark">
                <input *ngIf="!educationvalue" matInput formControlName="collegeMark">
              </mat-form-field>
              
            <div class="card-body text-center">
              <button mat-stroked-button  matStepperPrevious class="btn btn-secondary btn-lg" (click)="SubmitEducation()" >Save & Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button mat-stroked-button  matStepperNext class="btn btn-secondary btn-lg" (click)="SubmitEducation()">Save & Next</button>
            </div>
          </form>
        </mat-step>
  
  
          <mat-step [stepControl]="exFormGroup" label="Experience">
            <form [formGroup]="exFormGroup">
               
              <mat-label><b>Name of the Organization</b></mat-label>
                <mat-form-field class="data" appearance="fill">
                  <input *ngIf="workvalue" matInput formControlName="companyName" [(ngModel)]="workvalue.companyName">
                  <input *ngIf="!workvalue" matInput formControlName="companyName">
                </mat-form-field>
  
                <mat-label><b>Start Date</b></mat-label>
                <mat-form-field class="data" appearance="fill">
                  <input *ngIf="workvalue" matInput  formControlName="startDate" [matDatepicker]="picker" [(ngModel)]="workvalue.startDate">
                  <input *ngIf="!workvalue" matInput  formControlName="startDate" [matDatepicker]="picker" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
  
                <mat-label><b>End Date</b></mat-label>
                <mat-form-field class="data" appearance="fill">
                  <input *ngIf="workvalue" matInput formControlName="endDate" [matDatepicker]="picker1" [(ngModel)]="workvalue.endDate">
                  <input *ngIf="!workvalue" matInput formControlName="endDate" [matDatepicker]="picker1" >
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                
                <mat-label><b>Description</b></mat-label>
                <mat-form-field class="data" appearance="fill">
                  <textarea *ngIf="workvalue" matInput formControlName="description"  [(ngModel)]="workvalue.description"></textarea>
                  <textarea *ngIf="!workvalue" matInput formControlName="description" ></textarea>
                </mat-form-field><br><br>
  
    
                <div class="card-body text-center">
                  <button mat-stroked-button  matStepperPrevious class="btn btn-secondary btn-lg" (click)="SubmitWork()" >Save & Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button mat-stroked-button  matStepperNext class="btn btn-secondary btn-lg" (click)="SubmitWork()">Save & Next</button> 
                 
              </div>
             
  
            </form>
            </mat-step>

            <mat-step [stepControl]="skillFormGroup" label="Skills">
              <form [formGroup]="skillFormGroup">
                 
                <mat-label><b>Languages</b></mat-label>
                  <mat-form-field class="data" appearance="fill">
                    <input *ngIf="skillvalue" matInput formControlName="languages" [(ngModel)]="skillvalue.languages">
                    <input *ngIf="!skillvalue" matInput formControlName="languages">
                  </mat-form-field>
    
                
                  
                  <mat-label><b>Technical Languages</b></mat-label>
                  <mat-form-field class="data" appearance="fill">
                    <textarea *ngIf="skillvalue" matInput formControlName="technicalSkills"  [(ngModel)]="skillvalue.technicalSkills"></textarea>
                    <textarea *ngIf="!skillvalue" matInput formControlName="technicalSkills" ></textarea>
                  </mat-form-field><br><br>
    
      
                  <div class="card-body text-center">
                    <button mat-stroked-button  matStepperPrevious class="btn btn-secondary btn-lg" (click)="SubmitSkill()" >Save & Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button mat-stroked-button (click)="save()" class="btn btn-secondary btn-lg">Submit</button>&nbsp;&nbsp;
                   
                   </div>
                   <div class="alert card-body text-center" *ngIf="serverErrorMessages">
                    {{serverErrorMessages}}
                  </div>
              </form>
              </mat-step>
      </mat-horizontal-stepper>
    
    </mat-card>