.data{
    width: 100%;
    
    display: inline-block;
  
  }

  .cancel{
    background-color: white;
    border: none;
    
  }

  label{
    width:100%;
  }

  button:hover{
    
    font-size: large;
    }
    button{
        font-size:20px;
    }
    .mat-card{
        background-color: rgb(58, 56, 56);
    }

   