


  .mat {
    text-align: center;
    width: 50%;
    margin: auto;
    border: 3px;
    
  }
  
  
  .nodata {
    text-align: center;
    display: flex;
  justify-content: center;

    
  }


.main-div{
  height: 93vh;
  display: flex;
  justify-content: center;
  
}
.action-btn{
  border: none;
  background: none;
}
i{
  color: blue;
}
