
  .mat {
    text-align: center;
    width: 30%;
    margin: auto;
    border: 3px;
    background-color: gainsboro;
    border-radius: 30px ;
    
  }

  /*input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
*/
  input:focus {
    background-color: lightslategray;
  }

  label{
    width:100%;
  }
  button:hover{
    background-color: grey;
    font-size: large;
    }