<mat-card class="mat">
    <mat-card-title class="mat">Login</mat-card-title><br>
    <form [formGroup]="Form" (ngSubmit)="onSubmit()" >
        
         
        <label>
          Email:&nbsp;
          <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f?.email?.errors }">
          <div *ngIf="submitted && f?.email?.errors" class="invalid-feedback">
            <div *ngIf="f?.email?.errors?.required">Email is required</div>
            <div *ngIf="f?.email?.errors?.email">Email must be a valid email address</div>
        </div>
        </label><br>

        
        <label>
          Password: &nbsp;&nbsp;
          <input [type]="hide ? 'password' : 'text'" id="pwd" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f?.password?.errors }" >
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </label><br>
        
        <button mat-stroked-button type="submit">Login</button>
        
      </form>
  <!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
</mat-card>